<!-- Nav -->
<nav id="nav">
    <ul>
        <li><a href="/">Home</a></li>
        <li>
            <a href="#">Science</a>
            <ul>
                <li>
                    <a href="#">Blogposts &hellip;</a>
                    <ul>
                        <li><a href="/blog/simulate-your-own-eccentric-binary-black-holes/">Simulate your own eccentric binary black holes</a></li>
                        <li><a href="/blog/catalog-of-eccentric-binary-black-holes/">A Catalog of Eccentric Binary Black Holes</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Posters &hellip;</a>
                    <ul>
                        <li><a href="/posters/eccentric-binary-black-holes/">Eccentric Binary Black Holes</a></li>
                        <li><a href="/posters/binary-neutron-star-inference/">Binary Neutron Star inference</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="#footer">Contact</a></li>
        <li>
            <a href="#">Mindmap</a>
            <ul>
                <li><a href="/mindmap/physics/">Physics</a></li>
                <li><a href="/mindmap/cs/">Computer Science</a></li>
            </ul>
        </li>
        <li><a href="no-sidebar.html">Comic/Art</a></li>
    </ul>
</nav>


<!-- Navigation-->
<!-- <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav" style="padding-left: 10px; padding-right: 10px"> -->
<!-- <div class="container" style="padding-left: 0; padding-right: 0;"> -->
<!-- <a class="navbar-brand js-scroll-trigger" href="/#page-top">Home</a> -->
<!-- <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"> -->
<!-- Menu -->
<!-- <i class="fas fa-bars"></i> -->
<!-- </button> -->
<!-- <div class="collapse navbar-collapse" id="navbarResponsive"> -->
<!-- <ul class="navbar-nav ml-auto"> -->
<!-- <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/#about">About</a></li> -->
<!-- <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/cv/publications#footer">Contact</a></li> -->
<!-- <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/#mindmap">Mindmap</a></li> -->
<!-- <li class="nav-item dropdown"> -->
<!-- <a class="nav-link dropdown-toggle" data-toggle="dropdown">CV</a> -->
<!-- <ul class="dropdown-menu" id="navDropdown"> -->
<!-- <li> -->
<!-- <a class="dropdown-item navDropdown-item" href="/cv/publications/">Publications & Presentations</a> -->
<!-- </li> -->
<!-- <li> -->
<!-- <a class="dropdown-item navDropdown-item" href="/cv/presentations/">Projects</a> -->
<!-- </li> -->
<!-- </ul> -->
<!-- </li> -->
<!-- </ul> -->
<!-- </div> -->
<!-- </div> -->
<!-- </nav> -->